/* GENERAL SETTINGS */

.bg_sky {
    background-color: rgb(27,114,232);
}

/* NAVBAR */

nav {
    height: 4rem;
}

.small_logo {
    width: 45px;
}

.fat_logo {
    width: 120px;
}

/* MAIN */

/* body {
    height: 100vh;
} */

/* .sidebar {
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(5,30,52);
    flex: 0 0 50px;
    height: calc(100vh - 4rem);
    padding-inline: 1rem;
    overflow: hidden;
} */

/* .center_content {
	height: 100vh;
    flex: 1 0 0;
    overflow-y: auto;
    overflow-x: hidden;
} */