/* GENERAL SETTINGS */

.bg_sky {
    background-color: rgb(27,114,232);
}

/* NAVBAR */

nav {
    height: 4rem;
}

.small_logo {
    width: 45px;
}

.fat_logo {
    width: 120px;
}

/* MAIN */

main {
    height: 100vh;
}

.side_bar {
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(5,30,52);
    margin-top: 4rem;
    height: calc(100vh - 4rem);
    width: 80px;
    overflow: hidden;
}

@media (min-width: 992px) {
    .side_bar {
        width: 150px;
    }
}

.center_content {
	height: calc(100vh - 4rem);
    width: calc(100% - 60px);
    margin-top: 4rem;
    overflow-y: auto;
    overflow-x: hidden;
}